<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kiwi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LRResty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>XcodeEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B3ACFDF14F8A2FE00BCFE81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B55221414EA713D00494CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B55223514EA723700494CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B5523C714EA798D00494CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B9FD26414BEF008006F8D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB4D87314EB61E000DC153B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB4D8ED14EB630400DC153B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB72D7214BEF7AE005A5961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB72D9414BEF8EF005A5961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC1015F147775A40055CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC101881477A42F0055CF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCEC01714BBD88700538D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BD8982B14EA2441007875F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BD8985814EA2AAC007875F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BDEA520147CFEA100844BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
